/* Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

#hero-header::before {
  content: "> ";
}

/* Hover Animations */

@media (hover: hover) {
  #desktop-nav__list li:hover a::before,
  #desktop-nav__list li:focus a::before {
    content: "<";
    position: absolute;
    right: 100%;
  }

  #desktop-nav__list li:hover a::after,
  #desktop-nav__list li:focus a::after {
    content: ">";
    position: absolute;
    left: 100%;
  }

  #desktop-nav__list li:hover a::before,
  #desktop-nav__list li:hover a::after {
    animation-name: blink;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
}

/* Misc Animations */
.terminal__caret {
  animation-name: blink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
